https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.29.zip
# pyrogram
apscheduler
cryptography

tgcrypto
uvloop

aiohttp
sqlalchemy
pymysql
aiomysql
aiosqlite

redis
pyyaml

torch

supervisor
