https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.34.zip
# pyrogram
apscheduler
cryptography

tgcrypto
uvloop

aiohttp
sqlalchemy
pymysql
aiomysql
aiosqlite

redis
pyyaml

openvino

supervisor
